*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);/* repeat 4, 1fr means for the divs to have the same size */
    background-color: violet;
    padding: 10px;
    gap: 3px;
}

.grid-container > div {
    background-color: #fff;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    font-size: 2rem;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.item2 {
    grid-row-start: 2;
    grid-row-end: 5;
}
