@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --ROBOTO: "Roboto";
    --light-blue:"#3882f6";
    --dark-black:"#1f2937";
    --ash-grey:"#E5E7EB";

}

body{
/* background-color:black; */
display: flex;
flex-direction: column;
font-family: var(--ROBOTO);
width: 100%;
padding:100px;
}


/* Header Section */
.logo {
display: flex;
justify-content:flex-start;
padding-left: 100px;
align-items: center;
/* margin: 0 10px; */
}

.container {
margin: 0 auto;
/* max-width: 1200px; */
padding-left: 30px;
}

header {
background-color: #1f2937;
color: #fff;
/* padding: 20px; */
}
        
header nav ul {
list-style: none;
display: flex;
justify-content:flex-end;
/* padding-right: 30px; */
margin: 0 10px;
}
        
header nav ul li {
margin: 0 15px;

}
        
header nav ul li a {
color: #fff;
text-decoration: none;
}
      
.website {
display: flex;
flex-direction: row;
}
.website h1 {
font-size: 2rem;
font-weight: 900;
}

.website p {
font-size: 1rem;
}
























button {
    height: 50px;
    width:150px;
    background:#3882f6;
    border: none;
    font-size: 1rem;
    color: #fff;
    border-radius: 7px;
    transition: all 500ms;
    cursor: pointer;
}


footer {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    background-color: #1f2937;
    color: white;
    padding: 20px;
}