@import url(@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'););

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --ROBOTO: "Roboto";
    --light-blue:"#3882f6";
    --dark-black:"#1f2937";
    --ash-grey:"#E5E7EB";

}

body{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}



button {
    height: 50px;
    width:150px;
    background:#3882f6;
    border: none;
    font-size: 1rem;
    color: #fff;
    border-radius: 7px;
    transition: all 500ms;
    cursor: pointer;
}


footer{
    display: flex;
    justify-content: center;
    font-size: 1rem;
    background-color: #1f2937;
    color: white;
    padding: 20px;landing
}