@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Inter:var(--Inter);
}

body{
    font-family:var(--Inter);
}

.bg-image {
    position: absolute;
    width: 100%;
}

.hero {
    display: flex;
    align-items: center;
    color: white;
    position: relative;
}
 
.hero nav ul {
    display: flex;
    list-style: none;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .nav-links a {
    color: white;
    text-decoration: none;
    flex-direction: column;
}