@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--Karla);
}

:root {
    --Karla: 'Karla', sans-serif;
    --Green200-lighter: hsl(148, 38%, 91%);
    --Green600-medium: hsl(169, 82%, 27%);
    --Red: hsl(0, 66%, 54%);
    --White: hsl(0, 0%, 100%);
    --Grey500-medium: hsl(186, 15%, 59%);
    --Grey900-darker: hsl(187, 24%, 22%);
}


body {
    display: flex;
    justify-content:center;
    align-items: center;
    font-family: var(--Karla);
    padding: 40px;
    position:relative;
    width: 100%;
    min-width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-color:var(--Green200-lighter);
}
